<<<<<<< HEAD
{% extends 'VlsBackOfficeBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - A Propos
{% endblock %}

{% block page_title %}
<h1>A Propos de moi</h1>
{% endblock %}

{% block content %}
<div class="row">
    {{ form_start(aboutForm, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(aboutForm) }}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> Partie "Avatar"</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    {% if user.avatar is defined %}
                    <h2>Image actuel</h2>
                    <img src="/img/{{ user.avatar }}" class="img-responsive img-rounded" />
                    {% endif %}
                    {{ form_row(aboutForm.fileAvatar) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> Partie "Introduction"</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    {{ form_row(aboutForm.intro) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> Partie "A Propos"</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    {{ form_row(aboutForm.about) }}
                </div>
                <div class="col-md-12">
                    {% if user.aboutImage is defined %}
                    <h2>Image actuel</h2>
                    <img src="/img/{{ user.aboutImage }}" class="img-responsive img-rounded" />
                    {% endif %}
                    {{ form_row(aboutForm.fileAboutImage) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(aboutForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_rest(aboutForm) }}
    {{ form_end(aboutForm) }}
</div>
{% endblock %}
=======
{% extends 'VlsBackOfficeBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - A Propos
{% endblock %}

{% block page_title %}
<h1>A Propos de moi</h1>
{% endblock %}

{% block content %}
<div class="row">
    {{ form_start(aboutForm, {'attr': {'class': 'form-horizontal'}}) }}
    {{ form_errors(aboutForm) }}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> Partie "Avatar"</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    {% if user.avatar is defined %}
                    <h2>Image actuel</h2>
                    <img src="/img/{{ user.avatar }}" class="img-responsive img-rounded" />
                    {% endif %}
                    {{ form_row(aboutForm.fileAvatar) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> Partie "Introduction"</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    {{ form_row(aboutForm.intro) }}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user"></i> Partie "A Propos"</h3>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    {{ form_row(aboutForm.about) }}
                </div>
                <div class="col-md-12">
                    {% if user.aboutImage is defined %}
                    <h2>Image actuel</h2>
                    <img src="/img/{{ user.aboutImage }}" class="img-responsive img-rounded" />
                    {% endif %}
                    {{ form_row(aboutForm.fileAboutImage) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_widget(aboutForm.save, {'attr': {'class': 'btn btn-primary'}}) }}
    {{ form_rest(aboutForm) }}
    {{ form_end(aboutForm) }}
</div>
{% endblock %}
>>>>>>> d3af93d11494b1948166e464d651a147adfd966e
