<<<<<<< HEAD
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nouveau message du site personnel</title>
    </head>
    <body>
        <h1>Nouveau message en provenance du site personnel</h1>
        <h2>Info</h2>
        <p>
            Message de la part de : {{ enquiry.name }}<br />
            Email de réponse : {{ enquiry.email }}
        </p>
        <h2>Message</h2>
        <p>
            {{ enquiry.body }}
        </p>

    </body>
</html>
=======
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Nouveau message du site personnel</title>
    </head>
    <body>
        <h1>Nouveau message en provenance du site personnel</h1>
        <h2>Info</h2>
        <p>
            Message de la part de : {{ enquiry.name }}<br />
            Email de réponse : {{ enquiry.email }}
        </p>
        <h2>Message</h2>
        <p>
            {{ enquiry.body }}
        </p>

    </body>
</html>
>>>>>>> d3af93d11494b1948166e464d651a147adfd966e
