<<<<<<< HEAD
<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Cyril POIDEVIN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="favIcon.png">
        <!--[if lte IE 8]>{% javascripts 'bundles/vlsfrontoffice/js/ie/html5shiv.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}<![endif]-->
        {% stylesheets 'bundles/vlsfrontoffice/css/main.css' filter='cssrewrite' %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        <!--[if lte IE 8]>{% stylesheets 'bundles/vlsfrontoffice/css/main.css' %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}<![endif]-->

        <!--[if lte IE 9]>{% stylesheets 'bundles/vlsfrontoffice/css/main.css' %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}<![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
                            <span class="image avatar48"><img src="/img/{{ user.avatar }}" alt="" /></span>
							<h1 id="title">{{ user.getFullname }}</h1>
							<p>{{ user.title }}</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#first-img" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
								<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
                                <li><a href="#certificates" id="certificates-link" class="skel-layers-ignoreHref"><span class="fa fa-certificate"></span> Certificats</a></li>
								<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">A Propos</span></a></li>
								<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
                            {% if user.twitter is not null %}
                                <li><a href="{{ user.twitter}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            {% endif %}
                            {% if user.facebook is not null %}
                                <li><a href="{{ user.facebook }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            {% endif %}
                            {% if user.github is not null %}
                                <li><a href="{{ user.github }}" class="icon fa-github"><span class="label">Github</span></a></li>
                            {% endif %}
                            {% if user.dribbble is not null %}
                                <li><a href="{{ user.dribbble }}" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                            {% endif %}
                            {% if user.email is not null %}
                                <li><a href="mailto:{{ user.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
                            {% endif %}
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="first-img" class="one dark cover">
					</section>
					<section id="top" class="two">
						<div class="container">

							<header>
								{{ user.intro|raw }}
							</header>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="three">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							{{ user.portfolio }}

							<div class="row">
                                {% for portfolio in portfolios %}
                                    {% if loop.index is odd %}
                                    <div class="4u 12u$(mobile)">
                                    {% endif %}
                                        <article class="item">
                                            <a href="/portfolios/{{ portfolio.image }}" target="_blank" class="image fit"><img src="portfolios/{{ portfolio.image }}" alt="" /></a>
                                            <header>
                                                <h3>{{ portfolio.title }}</h3>
                                            </header>
                                        </article>
                                    {% if loop.index is odd %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
							</div>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="certificates" class="three">
						<div class="container">

							<header>
								<h2>Certificats</h2>
							</header>

							{{ user.portfolio }}

							<div class="row">
                                {% for certificate in certificates %}
                                    {% if loop.index is odd %}
                                    <div class="4u 12u$(mobile)">
                                    {% endif %}
                                        <article class="item">
                                            <a href="/certificates/{{ certificate.url }}" target="_blank" class="image fit"><img src="/certificates/{{ certificate.url }}" alt="" /></a>
                                            <header>
                                                <h3>{{ certificate.title }}</h3>
                                            </header>
                                        </article>
                                    {% if loop.index is odd %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="four">
						<div class="container">

							<header>
								<h2>A Propos</h2>
							</header>
                            {% if user.aboutImage is not null %}
                                <div class="image featured"><img src="img/{{ user.aboutImage }}" alt="" /></div>
                            {% endif %}

							{{ user.about|raw }}

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="five">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							{{ user.contact }}

                            {{ form_start(form) }}
                            {{ form_errors(form) }}
								<div class="row">
									<div class="6u 12u$(mobile)">{{ form_widget(form.name, {'attr': {'placeholder': 'Nom'}}) }}</div>
									<div class="6u$ 12u$(mobile)">{{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}</div>
									<div class="12u$">
                                        {{ form_widget(form.body, {'attr': {'placeholder': 'Message'}}) }}
									</div>
									<div class="12u$">
                                        {{ form_widget(form.save) }}
									</div>
								</div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Cyril POIDEVIN. All rights reserved.</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
            {% javascripts
                'bundles/vlsfrontoffice/js/jquery.min.js'
                'bundles/vlsfrontoffice/js/jquery.scrolly.min.js'
                'bundles/vlsfrontoffice/js/jquery.scrollzer.min.js'
                'bundles/vlsfrontoffice/js/skel.min.js'
                'bundles/vlsfrontoffice/js/util.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
			<!--[if lte IE 8]>{% javascripts 'bundles/vlsfrontoffice/js/ie/respond.min.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}<![endif]-->
            {% javascripts 'bundles/vlsfrontoffice/js/main.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

	</body>
</html>
=======
<!DOCTYPE HTML>
<!--
	Prologue by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Cyril POIDEVIN</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="favIcon.png">
        <!--[if lte IE 8]>{% javascripts 'bundles/vlsfrontoffice/js/ie/html5shiv.js' %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}<![endif]-->
        {% stylesheets 'bundles/vlsfrontoffice/css/main.css' filter='cssrewrite' %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}

        <!--[if lte IE 8]>{% stylesheets 'bundles/vlsfrontoffice/css/main.css' %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}<![endif]-->

        <!--[if lte IE 9]>{% stylesheets 'bundles/vlsfrontoffice/css/main.css' %}
          <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}<![endif]-->
	</head>
	<body>

		<!-- Header -->
			<div id="header">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
                            <span class="image avatar48"><img src="/img/{{ user.avatar }}" alt="" /></span>
							<h1 id="title">{{ user.getFullname }}</h1>
							<p>{{ user.title }}</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
							<ul>
								<li><a href="#first-img" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-home">Intro</span></a></li>
								<li><a href="#portfolio" id="portfolio-link" class="skel-layers-ignoreHref"><span class="icon fa-th">Portfolio</span></a></li>
                                <li><a href="#certificates" id="certificates-link" class="skel-layers-ignoreHref"><span class="fa fa-certificate"></span> Certificats</a></li>
								<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">A Propos</span></a></li>
								<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
							</ul>
						</nav>

				</div>

				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
                            {% if user.twitter is not null %}
                                <li><a href="{{ user.twitter}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                            {% endif %}
                            {% if user.facebook is not null %}
                                <li><a href="{{ user.facebook }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                            {% endif %}
                            {% if user.github is not null %}
                                <li><a href="{{ user.github }}" class="icon fa-github"><span class="label">Github</span></a></li>
                            {% endif %}
                            {% if user.dribbble is not null %}
                                <li><a href="{{ user.dribbble }}" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                            {% endif %}
                            {% if user.email is not null %}
                                <li><a href="mailto:{{ user.email }}" class="icon fa-envelope"><span class="label">Email</span></a></li>
                            {% endif %}
						</ul>

				</div>

			</div>

		<!-- Main -->
			<div id="main">

				<!-- Intro -->
					<section id="first-img" class="one dark cover">
					</section>
					<section id="top" class="two">
						<div class="container">

							<header>
								{{ user.intro|raw }}
							</header>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="portfolio" class="three">
						<div class="container">

							<header>
								<h2>Portfolio</h2>
							</header>

							{{ user.portfolio }}

							<div class="row">
                                {% for portfolio in portfolios %}
                                    {% if loop.index is odd %}
                                    <div class="4u 12u$(mobile)">
                                    {% endif %}
                                        <article class="item">
                                            <a href="/portfolios/{{ portfolio.image }}" target="_blank" class="image fit"><img src="portfolios/{{ portfolio.image }}" alt="" /></a>
                                            <header>
                                                <h3>{{ portfolio.title }}</h3>
                                            </header>
                                        </article>
                                    {% if loop.index is odd %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
							</div>

						</div>
					</section>

				<!-- Portfolio -->
					<section id="certificates" class="three">
						<div class="container">

							<header>
								<h2>Certificats</h2>
							</header>

							{{ user.portfolio }}

							<div class="row">
                                {% for certificate in certificates %}
                                    {% if loop.index is odd %}
                                    <div class="4u 12u$(mobile)">
                                    {% endif %}
                                        <article class="item">
                                            <a href="/certificates/{{ certificate.url }}" target="_blank" class="image fit"><img src="/certificates/{{ certificate.url }}" alt="" /></a>
                                            <header>
                                                <h3>{{ certificate.title }}</h3>
                                            </header>
                                        </article>
                                    {% if loop.index is odd %}
                                    </div>
                                    {% endif %}
                                {% endfor %}
							</div>

						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="four">
						<div class="container">

							<header>
								<h2>A Propos</h2>
							</header>
                            {% if user.aboutImage is not null %}
                                <div class="image featured"><img src="img/{{ user.aboutImage }}" alt="" /></div>
                            {% endif %}

							{{ user.about|raw }}

						</div>
					</section>

				<!-- Contact -->
					<section id="contact" class="five">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							{{ user.contact }}

                            {{ form_start(form) }}
                            {{ form_errors(form) }}
								<div class="row">
									<div class="6u 12u$(mobile)">{{ form_widget(form.name, {'attr': {'placeholder': 'Nom'}}) }}</div>
									<div class="6u$ 12u$(mobile)">{{ form_widget(form.email, {'attr': {'placeholder': 'Email'}}) }}</div>
									<div class="12u$">
                                        {{ form_widget(form.body, {'attr': {'placeholder': 'Message'}}) }}
									</div>
									<div class="12u$">
                                        {{ form_widget(form.save) }}
									</div>
								</div>
                            {{ form_rest(form) }}
                            {{ form_end(form) }}

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">

				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; Cyril POIDEVIN. All rights reserved.</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
            {% javascripts
                'bundles/vlsfrontoffice/js/jquery.min.js'
                'bundles/vlsfrontoffice/js/jquery.scrolly.min.js'
                'bundles/vlsfrontoffice/js/jquery.scrollzer.min.js'
                'bundles/vlsfrontoffice/js/skel.min.js'
                'bundles/vlsfrontoffice/js/util.js'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
			<!--[if lte IE 8]>{% javascripts 'bundles/vlsfrontoffice/js/ie/respond.min.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}<![endif]-->
            {% javascripts 'bundles/vlsfrontoffice/js/main.js' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

	</body>
</html>
>>>>>>> d3af93d11494b1948166e464d651a147adfd966e
